/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
}

/* regole header */

header{
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 50;
}

#cmd-top{
    text-align: right;
    padding: 10px;
     
}

.fa-solid {
    color: white;
    padding: 2px;
    
}

#cmd-top a {
    color: white;
    text-decoration: none;
    background-color: grey;
    border-radius: 5px;
    padding: 3px;
    margin: 0 3px;
}

/* regole main */

main{
    background-color: black;  
}

.container{
    padding:  2%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    overflow-y: auto;
}

.box-webcam{
    min-height: 150px;
    width: calc((100% / 7) - 10px);
    position: relative;    
}

.box-webcam img{
    max-width: 100%;
    max-height: 100%;
    min-width: calc((100% / 7) - 10px);
    object-fit: cover;
}

.label-nome{
    background-color: grey;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* regole footer */

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(46, 45, 45);
    position: fixed;
    bottom: 0;
    z-index: 50;
}

.flex-bot{
    display: flex;
    align-items: center;
}

.cmd-left{
    display: flex;
    align-items: center;
    padding: 1%;
    font-size: 20px;
    gap: 10px;
}

.cmd-left h3{
    color: white;
}


